// aquí pondremos los estilos generales de la app:

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;  
	color: $text-color;
	font-size: 16px;
    max-width:100%;
    background: $bg-color;
}


.app-container{
    min-height: 100vh;
	display: flex;
    flex-direction: column; 
    padding-bottom: 30px;   
    max-width: 1500px;
}

main{
    padding-top: 120px;
    height: 100%;
    flex:1;
}

.alink{
    font-weight: 600;
    border-bottom: 1px solid $blue;

    &:hover{
        border-color:$grey-medium;
        color:$grey-medium;
        text-decoration: none;
    }
}

.color-red{
    color: $red;
}

.color-green{
    color: $green;
}

// titles

.main-title, .title{
    font-weight: 900;
}

.main-title{
    font-size: 32px;
    margin-bottom: 15px;
}

.title{
    font-size: 28px;
    margin-bottom: 10px;
}


// buttons
.btn-icon{
    background: transparent;
    border: none;
    padding: 5px 10px;
}

.btn{
    font-weight: 600;
}

// forms

.form-control{
    border-color: $border-color;
    border-radius: 2px;
    font-size: 14px;
    padding: 8px 10px;
    height: 40px;

    &:focus{
        box-shadow: 0 0 0 .2rem rgba(0, 0, 120,.15); 
        border-color: rgba(0, 0, 120,.4)
    }

    &:disabled{
        background-color: $bg-disabled;
    }
}

// ... más estilos ...